<div class="main-content">
    <div class="container-fluid"
         *ngIf="auth.user | async as user; else userProfileBlock;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Monthly Income List</h4>
                    </div>
                    <div class="card-body"
                         style="height: calc(100vh - 180px);overflow: auto;">
                        <div style="height: calc(100% - 50px);overflow-y: auto;">
                            <pre *ngIf="transaction$ | async as transaction">{{transaction|json}}</pre>
                            <!--<pre *ngIf="repeatOptions$ | async as repeatOptions">{{repeatOptions|json}}</pre>-->
                        </div>
                        <nav mat-tab-nav-bar
                             style="position: absolute;bottom: 15px;left: 15px;right: 15px;">
                            <a mat-tab-link
                               (click)="setMonthType(MONTH_TYPE[month])"
                               *ngFor="let month of monthsList"
                               [active]="selectedMonthType===MONTH_TYPE[month]"> {{month}} </a>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #userProfileBlock>
    <app-user-profile></app-user-profile>
</ng-template>
